html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fff2dd; 
    background: linear-gradient(to bottom, #fae388, #2e2a22); 
    background-attachment: fixed;
	line-height: 1.4em;
	color: #111111;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;


}

h1 {
	text-shadow:
	  2px 2px 1px rgb(255, 255, 255);
  }